#stickman-img {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 26px 0px 26px 0px;
    margin: 10px;
}

#fight-field {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}